.cp {
  cursor: pointer;
  color: blue !important;
}

.cart-qty {
  font-size: 21px;
  margin-top: 5px;
  padding: 5px;
}

.prod-image {
  height: 40%;
  width: 80%;
}

.card-body p {
  height: 60px;
}

.card-body>.card-title {
  height: 50px;
}

.card-width {
  width: 18rem;
  margin: 10px;
}

.card-width>img {
  padding: 10px;
}

.card-container{
  margin:5px 5px 0px 100px ;
}